# Игнорируем файлы IDE
.idea/
*.iml
*.ipr
*.iws

# Игнорируем скомпилированные файлы
*.class
*.jar
*.war
*.ear

# Игнорируем папки сборки
target/
build/

# Игнорируем логи
*.log

# Игнорируем файлы окружения
.env

# Игнорируем билд
.gradle/